/* Chrome, Edge, Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1); /* makes it white */
  cursor: pointer;
  transition: all 0.3s;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 0.6;
}

.dropdown-box:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-list {
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
  transform: translateY(20px);
}
